{% extends "layout/basic.html" %}

{% block title %}Delete ad{% endblock %}

{% block content %}
<h2>Delete ad</h2>
<div class="container-fluid mt-3">
    <div class="row">
        {% if bb.image %}
        <div class="col-md-auto"><img src="{{ bb.image.url }}" class="main-image"></div>
        {% endif %}
        <div class="col">
            <h2>{{ bb.title }}</h2>
            <p>{{ bb.content }}</p>
            <p class="font-weight-bold">{{ bb.price }}$.</p>
            <p>{{ bb.contacts }}</p>
            <p class="text-right font-italic">Added {{ bb.created_at }}</p>
        </div>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>
{% endblock %}
